<h1>Edit <%=@type.name %></h1>

<%= form_for(@type) do |f| %>
  <%= f.label "Name:" %>
  <%= f.text_field :name %>
  <%= f.label "Type:" %>
  <%= f.collection_check_boxes :pokemon_ids, @pokemons, :id , :name %>

  <%= f.submit %>
<% end %>